<!-- search for users by first name, last name, or username -->

<!-- display first 10 users with the most followers -->
  <% @top_ten.each do |user| %>
    <h3><a href="/<%= user.username %>"><%= user.username %></a></h3>
  <% end %>
