
<% if current_user == params[:id] %>
  <form method="post" action="/users/<%= params[:id] %>/relationships">
    <input type='submit' value="follow">
  </form>
<% end %>
<!-- logout button -->
<p>Hello World</p>
<%= params[:id] %>
<%= current_user %>
<!-- #of followers, #of following -->

<!-- display user's tweets -->
  <% @user.tweets.each do |tweet| %>
    <article><%= tweet.text %></article>
  <% end %>
