<ul>
  <% @search_result.each do |result| %>
    <li>
      <div><%= result.text %></div>
      <div><a href="/<%= result.user.username.downcase %>"><%= result.user.username %></a></div>
    </li>
  <% end %>
</ul>
