<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="icon"
      type="image/png"
      href="../../public/favicon.png">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Fwitter</title>
</head>

<body>
  <header>
    <h1><a href="/">Fwitter</a></h1>
    <h2>Fake Twitter? Why the hell not?!</h2>
  </header>
  <br><br>
  <main>
    <%= yield %>
    <div class="push"></div>
  </main>

  <footer>
    <p><small>A fake Twitter, because why the hell not?</small></p>
  </footer>
</body>
</html>